#[user]
    #name = username
    #email = email
[include] # add file containing user info
    path = ~/.gituser
[push]
	default = matching
[merge]
	defaultToUpstream = true
    tool = vimdiff
	conflictstyle = diff3
[color]
    diff = always
[log]
    decorate = short
[mergetool]
	prompt = false
	keepBackup = false
[difftool]
    prompt = false
[difftool "diffpdf"]
	cmd = diffpdf \"$LOCAL\" \"$REMOTE\"
[difftool "vimdiff"]
	cmd = vim -d -c 'wincmd =' -c 'norm ]c[c' \"$LOCAL\" \"$REMOTE\"
[alias]
	pdfdiff = difftool --tool=diffpdf
    vimdiff = difftool --tool=vimdiff
    timelogcsv = log --all --no-color --date=local --format=format:"%cd,%an,%s"
    timelogtsv = log --all --no-color --date=local --pretty=format:"%ad%x09%an%x09%s"
    timelog = !bash -c '"git timelogcsv | column -t -s,"'
    basetree = log --author-date-order --graph --decorate=short --color --format=format:'%C(bold blue)%h%C(reset) %x09%C(auto)%d%C(reset) %<(16,trunc)%C(bold black)%an%C(reset) %C(dim white)%s%C(reset)\n%x09%x09%C(black) [%ar on %cd]%C(reset)' --date=format:'%A %d %B %Y %H:%M:%S'
    tree = !bash -c '"git basetree --all"'
    unmergedtree = !bash -c '"git basetree $(git unmerged)"'
    unmerged = branch --no-merged master
    unmerged-all = !bash -c '"git unmerged;  git branch -r --no-merged origin/master;"'

    mtree = log --author-date-order --author="gdal*" --graph --decorate=short --color --format=format:'%C(bold blue)%h%C(reset) %x09%C(auto)%d%C(reset) %<(16,trunc)%C(bold black)%an%C(reset) %C(dim white)%s%C(reset)\n%x09%x09%C(black) [%ar on %cd]%C(reset)' --date=format:'%A %d %B %Y %H:%M:%S'
    atree = log --all --graph --decorate=short --color --format=format:'%C(bold blue)%h%C(reset) %x09%C(auto)%d%C(reset) %<(16,trunc)%C(bold black)%an%C(reset) %C(dim white)%s%C(reset)\n%x09%x09%C(black) [%ar on %cd]%C(reset)' --date=format:'%A %d %B %Y %H:%M:%S'
    ltree = log --author-date-order --graph --decorate=short --color --format=format:'%C(bold blue)%h%C(reset) %x09%C(auto)%d%C(reset) %<(16,trunc)%C(bold black)%an%C(reset) %C(dim white)%s%C(reset)\n%x09%x09%C(black) [%ar on %cd]%C(reset)' --date=format:'%A %d %B %Y %H:%M:%S'
    stree = log --author-date-order --all --graph --decorate=short --color --format=format:'%C(bold blue)%h%C(reset) %x09%C(auto)%d%C(reset) %C(black)%s%C(reset)\n'

    forest = "forest --pretty=format:\"%C(red)%h %C(magenta)(%ar) %C(blue)%an %C(reset)%s\""

    tar = !bash -c '"                                                           \
        BRANCH=$(git branchname);                                               \
        REPODIR=$(git root);                                                    \
        REPONAME=\"$(basename $REPODIR)\";                                      \
        ARCHIVE=\"${REPODIR}/${REPONAME}_${BRANCH}_$(date '+%Y_%m_%d_%H_%M_%S').tar.xz\";\
        CURRENTDIR=$(pwd);                                                      \
        cd $REPODIR;                                                            \
        XZ_OPT=-9;                                                              \
        git ls                                                                  \
        | grep -v \"\\.git.*\"                                                  \
        | tar -cvJf \"$ARCHIVE\" -T -;                                          \
        echo;                                                                   \
        echo \"archive $ARCHIVE created...\";                                   \
        cd $CURRENTDIR;"'

    repository = !bash -c '"                                                    \
        echo  \"Repository $(git root):$(git branchname)\";"'

    pull-submodules = submodule foreach git pull

    commit-now = !bash -c '"                                                    \
        git commit -a -m \"$(date '+%Y_%m_%d_%H_%M_%S')\";"'

    commit-now-push = !bash -c '"                                               \
        git repository;                                                         \
        echo;                                                                   \
        echo Changes..;                                                         \
        git status -s;                                                          \
        echo;                                                                   \
        echo Commiting..;                                                       \
        git commit-now;                                                         \
        echo;                                                                   \
        echo Pushing...;                                                        \
        git push;"'

    delete-branch = !bash -c '"                                                 \
        read -n1 -r -p \"Delete local branch \\\"$0\\\" (N/y)? \" response;     \
        echo; if [[ ${response,,} =~ y$ ]]; then                                \
            git branch -d $0;                                                   \
        fi;                                                                     \
        read -n1 -r -p \"Delete remote branch \\\"$0\\\" (N/y)? \" response;    \
        echo; if [[ ${response,,} =~ y$ ]]; then                                \
            git push origin --delete $0;                                        \
        fi"'

    pull-all = !"                                                               \
        CURRENT=$(git symbolic-ref --short HEAD);                               \
        for b in $(git for-each-ref refs/heads --format='%(refname)') ; do      \
            git checkout ${b#refs/heads/} && git pull --ff-only ;               \
        done;\
        git checkout --quiet $CURRENT"

    time-amend = "!f()                                                                      \
        {                                                                                   \
            if date -d \"$@\" 1>/dev/null; then                                             \
                :;                                                                          \
            else                                                                            \
                echo; echo 'Usage: git time-amend <date>'; exit 1;                          \
            fi;                                                                             \
            TIME=$(date -d \"$@\");                                                         \
            read -p \"Amend previous commit with time '$TIME'? (y/N) \" -r REPLY;           \
            if [ \"$REPLY\" = \"y\" ]; then                                                 \
                GIT_COMMITTER_DATE=\"$TIME\" git commit --amend --no-edit --date \"$TIME\"; \
            else                                                                            \
                echo Operation canceled;                                                    \
            fi;                                                                             \
        }; f"



    pull-submodules = submodule foreach git pull
    status-submodules = submodule foreach git status -uno
    branchname = rev-parse --abbrev-ref HEAD
    root = rev-parse --show-toplevel
    unstage = reset HEAD -- .
    ls = ls-tree -r HEAD --name-only

    st = status
    co = checkout
    cm = commit
    fe = fetch-diff
    pu = !git fetch-diff && git merge
    vd = !git vimdiff

	cn = commit-now
    cnp = commit-now-push

[core]
    editor = vim
    excludesfile = ~/.gitignoreglobal
[merge "ours"]
	driver = true
[status]
	submoduleSummary = true
[http]
    postBuffer = 524288000

[pager]
	color = false
	show = vim -R -
