" clear any existing autocommands:
autocmd!

set nocompatible

" position cursor anywhere
set virtualedit=all

" no bell (visual or sound)
set belloff=all
set noerrorbells
set visualbell t_vb=

" -----------------------------------------------------------------------------
" User functions and trics
" -----------------------------------------------------------------------------

" command aliases
cnoreabbrev hs split

" navigational keybindings

inoremap <C-h> <Left>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-l> <Right>
inoremap <C-r> <Esc>g_a
inoremap <C-e> <Esc>^i
inoremap <C-u> <BS>
inoremap <C-o> <Del>
inoremap <C-f> <Esc>

nnoremap <C-h> <Left>
nnoremap <C-j> <Down>
nnoremap <C-k> <Up>
nnoremap <C-l> <Right>
nnoremap <C-r> g_
nnoremap <C-e> ^
nnoremap <C-u> <Nop>
nnoremap <C-o> <Nop>
nnoremap H h
nnoremap J j
nnoremap K k
nnoremap L l

vnoremap <C-h> <Left>
vnoremap <C-j> <Down>
vnoremap <C-k> <Up>
vnoremap <C-l> <Right>
vnoremap <C-r> <End>
vnoremap <C-e> <Home>
vnoremap <C-f> <Esc>

cnoremap <C-h> <Left>
cnoremap <C-j> <Down>
cnoremap <C-k> <Up>
cnoremap <C-l> <Right>
cnoremap <C-r> <End>
cnoremap <C-e> <Home>
cnoremap <C-u> <BS>
cnoremap <C-o> <Del>
cnoremap <C-f> <Esc>

nnoremap f <Esc>
nmap <C-f> f

" visual mode behaviour (don't copy on escape)
nnoremap dd "_dd
vnoremap <Esc> "_<Esc>

" redo
nnoremap <r> <C-r>


" indent / unindent
nnoremap <C-d> <<
nnoremap <C-t> >>

" -----------------------------------------------------------------------------
" copy-pasting
" -----------------------------------------------------------------------------

vnoremap d "_d
vnoremap c c<Esc>
vnoremap P "_dp
vnoremap p "_dP
nmap p P
"nnoremap P p

vnoremap <C-y> y
vnoremap <C-c> c
nnoremap <C-p> p
vnoremap <C-p> p

inoremap <C-p> <Esc><Right>Pi

